@{
    ViewData["Title"] = "Home Page";
}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    .page{
        width: 100%;
        /*background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1)),url(vid.mp4);*/
        background-color: rgb(0, 0,0,0.8);
        background-size: cover;
        background-position:center  ;
        position: relative;

    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        padding-left: 10%;
        padding-right: 10%;
    }
    .title{
        color: white;
        font-size: 28px;
    }
    nav ul li{
        list-style: none;
        display: inline-block;
        padding: 10px 20px;
    }
    nav ul li a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    nav ul li a:hover{
        color:#ea1538;
    }
    .text{
        text-align: center;
        margin-top: 10%;
        margin-left: 10%;
        text-shadow: 1px 1px;
    }
    p{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 13px;
        color:white;
    }
    button{
        border:none;
        background: #ea1538;
        padding: 12px 30px;
        border-radius: 20px;
        color:white;
        font-weight: bold;
        font-size: 15px;
        transition: .4s;
    }
    .background-clip{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    
    </style>
<body class="container-fluid page">
    <div >
        <video autoplay loop muted plays-inline class="background-clip">
            <source src="vid.mp4" type="video/mp4">
        </video>
    </div>
    <div class="text">
     <h1 style="color: white; text-align: center;"> Your Kids Deserves <br /> Best Education </h1>

     <p> Active Learning, ExpertTeachers & Safe Enviroiment</p
     <a href="form.html"> <button type="button"> Join US</button></a>
    </div>
</div>
</body>

