@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Others";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <style>
        nav ul li {
            list-style: none;
            display: inline-block;
            padding: 10px 20px;
        }

            nav ul li a {
                color: white;
                text-decoration: none;
                font-weight: bold;
            }

                nav ul li a:hover {
                    color: #ea1538;
    </style>
</head>
<body style="background-color: black;">
    <div class="container-fluid">
        <h1 style="text-align: center; color: white;"> About-<span style="color: orange;">US</span> <a href="project3.html"><button type="button" class="btn btn-primary" style="margin-left:80%"> Back</button></a></h1>


        <br>
        <hr>
        <div class="row">
            <div class="col-sm-8">
                <img src="https://www.sanskrititheschool.org/wp-content/uploads/2020/01/TEACHER-DAY-1200x450.jpg" style="height:450px; width: 100%;">
            </div>
            <div class="col-sm-4">
                <p style="font-size: 24px; font-family:sans-serif; font-style: bold; color:red; letter-spacing: 1px; line-height: 20px; text-align: center; padding-right: 10px;">
                    Kiddo play school.<br><br>

                    Preschool ought to energize chuckling, fun, and tolerance while giving a deal and minding condition that invigorates the physical. Social. Enthusiastic. What’s more, intellectual advancement of kids.<br><br>

                    Our bespoke educational programs give a mix of scholarly aptitudes, individual information, and social mindfulness that empowers kids to figure out how without limitations of their capacities.<br><br>

                    Setting them up or further training and deep-rooted adapting little by aim and plan. ‘Kiddo play school. ‘ estimate is of extraordinary quality as it advances transparency, availability, and joint effort.
                </p>
            </div>
        </div>
    </div>
</body>